@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="show-button">
        <input class="button" type="button" value="Load Image" onclick="location.href='@Url.Action("RenderImage", "Home")'" />
    </div>
</div>
